Repository gomelody-bot/gomelody: changes, and which Semaphore blocks are due for each by the changed paths.
All: Build Api Service, Build Api-Service Docker Image, Build Gateway Service, Build Gateway-Service Docker Image, Build Voice Service, Build Voice-Service Docker Image, Build Encoder Service, Build Encoder-Service Docker Image

Path conditions:
  Build Api Service: any of: services/api_service, pkg
  Build Api-Service Docker Image: any of: services/api_service, pkg
  Build Gateway Service: any of: services/gateway_service, pkg
  Build Gateway-Service Docker Image: any of: services/gateway_service, pkg
  Build Voice Service: any of: services/voice_service, pkg
  Build Voice-Service Docker Image: any of: services/voice_service, pkg
  Build Encoder Service: any of: services/encoder_service, pkg
  Build Encoder-Service Docker Image: any of: services/encoder_service, pkg

ci: trigger
  pkg/logger/logger.go
Due: Build Api Service, Build Api-Service Docker Image, Build Gateway Service, Build Gateway-Service Docker Image, Build Voice Service, Build Voice-Service Docker Image, Build Encoder Service, Build Encoder-Service Docker Image

ci: clean trigger changes
  pkg/logger/logger.go
Due: Build Api Service, Build Api-Service Docker Image, Build Gateway Service, Build Gateway-Service Docker Image, Build Voice Service, Build Voice-Service Docker Image, Build Encoder Service, Build Encoder-Service Docker Image

ci: add encoder service to CD (#6)
  .semaphore/encoder-prod.yml
  .semaphore/semaphore.yml
  output.dca
  services/encoder_service/Dockerfile
Due: Build Encoder Service, Build Encoder-Service Docker Image

Error Handling
  services/api_service/error.go
  services/api_service/handler.go
  services/encoder_service/handler.go
  services/encoder_service/main.go
Due: Build Api Service, Build Api-Service Docker Image, Build Encoder Service, Build Encoder-Service Docker Image

chore: improve code comments and error logging in API service
  services/api_service/config.go
  services/api_service/error.go
  services/api_service/handler.go
  services/api_service/main.go
Due: Build Api Service, Build Api-Service Docker Image

chore: improve error logging in logger instance
  pkg/logger/logger.go
Due: Build Api Service, Build Api-Service Docker Image, Build Gateway Service, Build Gateway-Service Docker Image, Build Voice Service, Build Voice-Service Docker Image, Build Encoder Service, Build Encoder-Service Docker Image

feat: bootstrap user service (WIP)
  services/user_service/main.go
Due: none

refactor: move app shutdown below initialization as deferred function
  services/api_service/main.go
Due: Build Api Service, Build Api-Service Docker Image

chore: improve code comments and error logging in encoder service
  services/encoder_service/config.go
  services/encoder_service/handler.go
Due: Build Encoder Service, Build Encoder-Service Docker Image

feat: add deferred shutdown of web server and improve code comments/error logging
  services/encoder_service/main.go
Due: Build Encoder Service, Build Encoder-Service Docker Image

chore: improve code comments and error logging in gateway service
  services/gateway_service/config.go
  services/gateway_service/main.go
  services/gateway_service/ws_route.go
Due: Build Gateway Service, Build Gateway-Service Docker Image

feat: add deferred shutdown of web server in gateway service
  services/gateway_service/main.go
Due: Build Gateway Service, Build Gateway-Service Docker Image

chore: improve code comments and error logging in voice service
  services/voice_service/bot.go
  services/voice_service/config.go
  services/voice_service/main.go
Due: Build Voice Service, Build Voice-Service Docker Image

refactor: improve graceful shutdown structure for web server
  services/voice_service/main.go
Due: Build Voice Service, Build Voice-Service Docker Image

feat: unify port-usage over services and persist consistency of common environment variables
  README.md
  services/api_service/config.go
  services/api_service/main.go
  services/encoder_service/config.go
  services/gateway_service/config.go
  services/gateway_service/main.go
  services/voice_service/config.go
  services/voice_service/main.go
Due: Build Api Service, Build Api-Service Docker Image, Build Gateway Service, Build Gateway-Service Docker Image, Build Voice Service, Build Voice-Service Docker Image, Build Encoder Service, Build Encoder-Service Docker Image

feat: bootstrap session service (WIP, including gRPC setup and more)
  gen_proto.cmd
  go.mod
  go.sum
  pkg/proto/session_service.pb.go
  pkg/proto/session_service_grpc.pb.go
  proto/session_service.proto
  services/session_service/config.go
  services/session_service/handler.go
  services/session_service/main.go
  services/user_service/main.go
Due: Build Api Service, Build Api-Service Docker Image, Build Gateway Service, Build Gateway-Service Docker Image, Build Voice Service, Build Voice-Service Docker Image, Build Encoder Service, Build Encoder-Service Docker Image

ci: add session service and fix branched builds
  .semaphore/semaphore.yml
  .semaphore/session-prod.yml
  services/session_service/Dockerfile
Due: none

ci: fix env vars
  .semaphore/semaphore.yml
Due: none

ci: new dockerfile and fix branch deployment issues (#7)
  .semaphore/semaphore.yml
  .semaphore/session-prod.yml
  services/session_service/Dockerfile
Due: none

feat: extend dev.docker-compose.yml
  dev.docker-compose.yml
  gen_proto.cmd
  go.mod
  go.sum
  pkg/domain/user.go
  services/api_service/config.go
  services/api_service/handler.go
  services/api_service/user.go
Due: Build Api Service, Build Api-Service Docker Image, Build Gateway Service, Build Gateway-Service Docker Image, Build Voice Service, Build Voice-Service Docker Image, Build Encoder Service, Build Encoder-Service Docker Image

ci: fix change_in
  .semaphore/semaphore.yml
Due: none

ci: fix env var
  .semaphore/semaphore.yml
Due: none

ci: specify arch
  .semaphore/semaphore.yml
Due: none
